@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

body{
	background: url('/img/bg_recipes.jpg') no-repeat;
	background-size: 100%;
}

.panel{
	opacity: 0.9;
}

.panel-body p{
	font-size: 1.2em;
}

.panel-heading {
	font-size: 1.5em;
}

#sortable li{
	text-align: center;
	width: 31%;
	height: 200px;
	margin: 5px;
	float: left;  
	border: 1px solid #ccc;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
}

div.recipesContainer{
	width: 100%;
	height: 100%;
}

div.titleBanner{
	position: absolute;
	bottom: -45px;
	left: 0;
	background-color: #1a1a1a;
	color: #fff;
	height: 45px;
	width: 100%;
	opacity: 0.7;
}

div.titleBanner span{
	top: 20%;
  	position: relative;
  	font-size: 20px;
}
#txt,#addIngredient,#addRecipe{
	float: right;
}

a:link,a:visited{
	color:#1a1a1a;
}

a:hover{
	text-decoration: none;
}

.ficheRecette{
	float: right;
	width: 50%;
}

.ficheRecetteHome{
	width: 100%;
}

div.row-home-middle{
	width: 49.3%;
	display:inline-block;
	margin-left: 0;
}

#sortable{
	padding: 0;
}

#sortable li{
	list-style: none;
}

@media screen and (min-width:1753px) {
	.recipesContainer{
		width: 32%;
	}
}

@media screen and (min-width:1577px) {
	.recipesContainer{
		width: 32%;
	}	
}